body{
    background-color: #3d3d3d;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

.título{
    font-size: 2.5rem;
    text-align: center;
}

#t1{
    margin-top: 50px;
}

#t2, #t3{
    margin-top: -15px;
}

.strg{
    color: #ffff00;
}

.p1{
    font-size: 1.1rem;
    text-align: center;
}

iframe{
    border-radius: 10px;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.774);
    width: 70%;
    height: 500px;
    margin-left: 15%;
    margin-right: 15%;
}

.p2{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 50px;
}

.p3{
    font-size: 1.5rem;
    text-align: center;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.botão{
    font-size: 2rem;
    background: linear-gradient(45deg,#01d301, #008000);
    width: max-content;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
}

.strg2{
    margin-left: 28.3%;
}

#tit{
    color: #ffff00;
}

.pag2{
    width: 350px;
}

.segura{
    width: 350px;
    text-align: center;
    margin-top: -15px;
}

.txt1{
    margin-left: 15%;
    text-align: center;
    width: 350px;
}

img{
    width: 100px;
    height: auto;
    margin-top: 80px;
}

div{
    float: left;
}

#div2{
    margin-right: 15%;
    margin-bottom: 100px;
}

.botão2{
    font-size: 2rem;
    background: linear-gradient(45deg,#d3d300, #c0c001);
    width: max-content;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 10px;
}

.strg3{
    margin-left: 40%;
}

.ainda{
    font-size: 2rem;
}

.saiba-mais{
    text-align: center;
    width: 75%;
    margin-left: 12%;
}

.texto-ainda{
    font-size: 1.5rem;
}

@media screen and (max-width: 600px){
    .título{
        font-size: 1.5rem;
    }

    #t3{
        font-size: 1.3rem;
    }

    .p1{
        font-size: 1rem;
    }

    div{
        float: unset;
    }

    iframe{
        width: 100%;
        height: 200px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .botão{
        font-size: 0px;
        width: 0px;
        height: 0px;
        padding: 20px;
        padding-right: 7px;
        padding-left: 7px;
        padding-top: 30px;
    }

    .botão::after{
        content: 'DOMINE PYTHON AGORA!';
        font-size: 1.2rem;
    }

    .strg2{
        margin-left: 20%;
    }

    .txt1{
        margin-left: 5%;
    }

    .saiba-mais{
        margin-left: 0%;
        width: 100%;
    }

    .ainda{
        font-size: 1.7rem;
    }

    .texto-ainda{
        font-size:1.2rem;
    }

    .strg3{
        margin-left: 16%;
    }
}