@font-face {
    font-family: 'Sansation';
    src: url('Sansation_Regular.ttf') format('truetype'),
    url('Sansation_Light.ttf') format('truetype'),
    url('Sansation_Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #000000ce;
    color: #ffffff;
    font-family: 'Sansation'
}

main{
    padding-left: 20px;
    padding-right: 20px;
}

.tit{
    background: linear-gradient(to right, #660066, #330033, black);
    margin-top: -20px;
    margin-left: -10px;
    width: 67%;
    height: 100%;
}

h1{
    text-transform: uppercase;
    text-align: center;
    padding-left: 20px;
}

main > .juh1{
    border-radius: 10px;
    width: auto;
    height: 230px;
}

main > .info{
    text-decoration: underline;
    cursor: context-menu;
}

main > .txt1{
    font-size: 1rem;
    margin-left: 240px;
    margin-top: -210px;
    width: 500px;
}

main > .txt2{
    font-size: 1rem;
    margin-left: 240px;
    margin-top: 45px;
    width: 500px;
}

main > .txt3{
    font-size: 1rem;
    margin-left: 240px;
    margin-top: 45px;
    width: 500px;
}

.compra{
    background-color: #000000;
    margin-left: 65%;
    margin-top: -500px;
    margin-right: -8px;
    padding-left: 100px;
    height: 110%;
    position: fixed;
    width: 363px;
}

.compra > .valor{
    padding-top: 60px;
    font-size: 2rem;
    margin-top: -190px;
    cursor: context-menu;
}

.compra > a{
    text-decoration: none;
    color: white;
}

.compra > a > .botao-compra{
    background-color: #008000;
    width: fit-content;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.compra > a > .botao-saiba{
    background-color: #a5a500;
    width: fit-content;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.compra > p{
    margin-top: -10px;
    cursor: context-menu;
}

.compra > .idioma, .pag, .arqv{
    margin-top: 40px;
    cursor: context-menu;
}

.compra > .autora{
    margin-top: -10px;
    cursor: context-menu;
}

.compra > .juh2{
    border-radius: 100px;
    width: auto;
    height: 70px;
    margin-top: 155px;
    margin-left: -135px;
}

.main2{
    margin-top: 100px;
}

.main2 > .info{
    margin-bottom: 50px;
    cursor: context-menu;
}

.main2 > div > img{
    border-radius: 100px;
    margin-left: -50px;
    margin-top: -35px;
    cursor: context-menu;
}

.main2 > div{
    background-color: white;
    width: 380px;
    height: 70px;
    margin-top: 35px;
    margin-left: 50px;
    border-radius: 50px;
}

.main2 > .nome{
    color: black;
    margin-top: -55px;
    margin-left: 150px;
    cursor: context-menu;
}

.main2 > .nome-p{
    color: black;
    margin-top: -20px;
    margin-left: 150px;
    cursor: context-menu;
}

.main2 > .info2{
    margin-top: 130px;
    cursor: context-menu;
    text-decoration: underline;
}

.main2 > .p5{
    width: 800px;
    font-weight: bolder;
}

.main2 > .p5hr{
    width: 0px;
    height: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-color: transparent;
}

@media screen and (max-width: 600px){
    .tit{
        font-size: 1rem;
        width: 104.7%;
    }

    .tit > h1{
        margin-left: -17px;
    }

    main > .juh1{
        width: auto;
        height: 150px;
        margin-left: 70px;
    }

    main > .txt1{
        margin-top: 10px;
        margin-left: 0px;
        font-size: 1rem;
        width: auto;
    }

    main > .txt2{
        margin-top: 0px;
        margin-left: 0px;
        font-size: 1rem;
        width: auto;
    }

    main > .txt3{
        margin-top: 0px;
        margin-left: 0px;
        font-size: 1rem;
        width: auto;
    }

    main > .info{
        text-align: center;
    }

    .compra{
        width: auto;
        height: 170px;
        margin-top: 0px;
        margin-left: -10px;
        margin-bottom: -80px;
        position: unset;
    }

    .compra > .valor{
        font-size: 1.5rem;
        margin-top: -210px;
        margin-left: -13%;
    }
    
    .compra > a > .botao-compra{
        margin-top: -15px;
        margin-left: -25%;
        width: 100%;
        text-align: center;
    }
    
    .compra > a > .botao-saiba{
        margin-top: -95px;
        margin-left: -25%;
        width: 100%;
        text-align: center;
    }

    .compra > .juh2, .autora, .pag, .idioma, .arqv, .p1, .p2, .p3, .p4{
        font-size: 0px;
        width: 0px;
        height: 0px;
    }

    .main2 > div{
        width: 260px;
        height: 70px;
    }

    .main2 > div > img{
        width: auto;
        height: 100px;
        margin-top: -15px;
    }
    
    .main2 > .nome{
        margin-top: -65px;
        margin-left: 110px;
    }
    
    .main2 > .nome-p{
        margin-top: -20px;
        margin-left: 110px;

    }

    .main2 > .p5{
        width: auto;
    }

    .main2 > .p5hr{
        width: 0px;
        height: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}